#Langchain core
langchain
langchain-core

#OpenAI Integration
langchain-openai
openai

#Antropic Integration
langchain-anthropic

#Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

#Hugging face Integration
transformers
huggingface-hub

#Env Variable Mgt
python-dotenv

#Machine learning utilities
numpy
scikit-learn